<!DOCTYPE html>
<html ng-app="appetizePages" class="no-js">
<head>
    <base href="https://nshinn-mdsol.github.io/pc-appetize-launcher/" />
    <meta charset="utf-8" />
    <meta name="theme-color" content="#222222" />
    <meta name="viewport" content="width=device-width" />
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/fontawesome.css" />
    <link rel="stylesheet" href="bower_components/toastr/toastr.min.css" />
    <!-- endbower -->
    <style type="text/css">
        [ng\:cloak],
        [ng-cloak],
        .ng-cloak {
            display: none;
        }
    </style>
    <link rel="stylesheet" href="styles/main.css" />
    <meta name="fragment" content="!">

    <!-- Favicon head tag -->
    <link rel="icon" href="images/pug.png" type="image/x-icon" />
</head>

<body class="not-iframe launcher-page" ng-controller="SampleCtrl">
    <div class="container text-center" ng-show="appName" ng-cloak>
        <div class="row">
            <div class="col-md-3 text-left">
                <p>
                    <h4>App</h4>
                    <!-- TODO: Add other eCOA Apps -->
                    <a ng-click="updateField('appName', 'PatientCloud');"><img class="launcher-page-icon" src="images/app_icon.png" ng-class="{selected : appName == 'PatientCloud'}"/></a>
                </p>
                <br/>
                <p>
                    <h4>Platform</h4>
                    <a ng-model="platform" btn-radio="ios" ng-click="updateField('platform', 'ios');" class="btn btn-info" ng-class="{selected : platform == 'ios'}">iOS</a>
                    <a ng-model="platform" btn-radio="android" ng-click="updateField('platform', 'android');" class="btn btn-info" ng-class="{selected : platform == 'android'}">Android</a>
                </p>
                <p>
                    <h4>Device</h4>
                    <a ng-model="deviceType" btn-radio="phone" ng-click="updateField('deviceType', 'phone');" class="btn btn-success" ng-class="{selected : deviceType == 'phone'}">Phone</a>
                    <a ng-model="deviceType" btn-radio="tablet" ng-click="updateField('deviceType', 'tablet');" class="btn btn-success" ng-class="{selected : deviceType == 'tablet'}">Tablet</a>
                </p>
                <p>
                    <h4>Scale</h4>
                    <input style="max-width: 150px; display: inline-block;" ng-model="scale" type="range" id="weight" min=0 ng-value=.75 max=1 step=.05>
                </p>
                <p>
                    <div ng-cloak ng-show="sessionActive">
                        <a class="btn btn-danger btn-primary selected" ng-click="endSession();">End Session</a>
                    </div>
                </p>
                <hr>
                  <div ng-cloak ng-show="sessionActive">
                    <h4>Options</h4>
                    <h6>Take Screenshot</h6>
                    <a class="btn btn-primary selected" ng-click="saveScreenshot();">Save Screenshot</a>
                  </div>
                </br>
                  <div ng-cloak ng-show="sessionActive">
                    <h6>Change Language (<a href="https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes">ISO 639-1</a>)</h6>
                    <input type="text" name="language_code" value="en">
                    <a class="btn btn-primary selected" ng-click="changeLanguage();">Change Language</a>
                  </div>
                </hr>
                <hr>
                  <div ng-cloak ng-show="sessionActive">
                    <h6>Need logs or network proxy? View them <a href="{{trustSrc('https://appetize.io/embed/' + apps[platform][deviceType] + '?device=' + devices[platform][deviceType] + '&scale=75&deviceColor=white&screenOnly=false&centered=true&xdocMsg=true&osVersion=13.3&debug=true&proxy=intercept&language=' + currentLangauge)}}">here</a>.</h6>
                  </div>
                </hr>
            </div>
            <div class="col-md-9 text-left">
              <br>
              <h4>Patient Cloud  {{ currentVersion }} ( {{ currentDevice }}, {{ currentLangauge }} )</h4>
                <iframe class="center-block" ng-if="apps[platform][deviceType]" src="{{trustSrc('https://appetize.io/embed/' + apps[platform][deviceType] + '?device=' + devices[platform][deviceType] + '&scale=75&deviceColor=white&screenOnly=false&centered=true&xdocMsg=true&osVersion=13.3&language=' + currentLangauge)}}" width="900px" height="1300px" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/toastr/toastr.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controller.js"></script>
</body>

</html>
